<!-- src/main/resources/templates/blocks/header.html -->
<div th:fragment="header">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item">
        <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <a class="nav-link" href="/my-images">Мои изображения</a>
        </div>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">Профиль</a></li>
    </ul>
</div>
